@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ephesis&family=Montserrat:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&family=Tomorrow:ital,wght@0,300;1,700&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: poppins;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    height: 10px;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 1.1rem;
    align-items: center;
    border-bottom: 3px solid aqua;
}

nav ul li {
    display: inline;
    padding: 0 30px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}



.interface button a{
    text-decoration: none;
    color: white;
}

main.interface {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    line-height: 2px;
    align-items: center;
}

main.interface p {
    color: gray;
    line-height: 30px;
    max-width: 600px;
}

main.interface article {
    animation: flutuant 3s infinite;
}

main.interface button {
    margin: 1.1rem;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid aqua;
    background-color: black;
    transition: 0.2s;
    
}

main.interface button:hover{
    border: none;
    box-shadow: 0px 0px 8px 3px aqua;
}

.flutuant {
    animation-name: flutuant;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes flutuant {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }
}




.projetos {
    padding-top: 50px;
}

.flex {
    margin: 0 auto;
    display: flex;
    
}

.flex {
    padding-top: 50px;
}

.flex a {
    text-decoration: none;
    border: 1px solid;
    color: gray;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 50px;
}

.flex h1 {
    color: white;
}

.flex2 {
    margin: 0 auto;
    display: flex;
    
    padding: 20px;
}

.flex2 a {
    text-decoration: none;
    color: gray;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 15px;
    width: 350px;
    margin: 0 auto;

}

.flex2 h1 {
    color: white;
}

.skills {
    padding-top: 50px;
}

.sks div {
    padding: 20px;
    display: inline;
    margin: 0 auto;
}


@media screen and (max-width:600px) {
    body {
        text-align: center;
    }

    header {
        text-align: center;
        flex-direction: column;
    }

    nav ul li {
        display: none;
    }

    main.interface article {
        display: none;

    }

    main.interface h1 {
        font-size: 30px;
    }

    main.interface p {
        font-size: 25px;
    }

    .flex {
        margin: 0 auto;
        flex-direction: column;

    }

    .flex a {
        border: none;
        text-align: center;
        flex-direction: column;


    }

    article .flex2 {
        
        margin:0 auto;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
       
    }

    .flex2 a {
        border: none;
        text-align: center;
        
    }

    .skills{
        text-align: center;
        margin: 0 auto;
    }
}