@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:wght@200&display=swap');

body {
    font-size: 20px;
    font-family: poppins;
    
}

.btn button {
    border: none;
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


header img {
    padding-left: 50px;

}

ul li {
    display: inline;
    padding: 15px;
    padding-right: 60px;
}

ul li a {
    text-decoration: none;
    color: rgb(211, 11, 11);
}

a:hover {
    box-shadow: 0 1px 0;
}

section {
    padding: 50px;

}

section h1 {
    line-height: 2px;
    font-size: 40px;
    
}
section a img {
    animation: none;
}

section button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
    background-image: linear-gradient(rgb(119, 199, 236), rgba(226, 62, 111, 0.795));

}

section button a {
    text-decoration: none;
    color: black;

}

section button:hover {
    background-color: blue;
}

aside {
    flex-direction: row;
    display: flex;
    justify-content: space-around;

}

aside img {
    animation: floating 3s ease-in-out infinite
}




.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }

}

footer {
    text-align: center;
}

.sobre h1{
    text-align: center;
}

.sobre p{
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 0 5px 10px 0;
    border-radius: 10px;
    padding: 10px;
}

.projetos h1{
    text-align: center;
}

.projeto1{
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    width: 150px;

}

.projeto1 img{
   border-radius:8px ;
}

.projeto1 a{
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: none ;
}
.projeto1 button{
    cursor: pointer;
    background: transparent;
    border: none;
}
.projeto2{
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    width: 150px;
}
.projeto2 img{
    border-radius:8px ;
}
.projeto2 button{
    cursor: pointer;
    background: transparent;
    border: none;
} 
.projeto2 a{
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: none ;  
}
.projetos div{
    display: flex;
    justify-content: center;
    
}

.projeto3{
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    width: 150px;
}

.habilidades h1{
    text-align: center;

}

.habilidades article{
    text-align: center;
}




@media screen and (max-width:700px){
    header {
        flex-direction: row;
        align-items: center;
        display: flex;
    }
    
    aside {
        flex-direction: column;
        align-items: center;
    }
    
    .projetos div {
        flex-direction: column;
        align-items: center;
    }
    
    .sobre p{
        width: 300px;
    }

    section h1 {
        line-height: 2px;
        font-size: 30px;
        
    }
}